html { font-family: "Microsoft YaHei", serif; color: #ffffff; line-height: 1.2; }

html, body { height: 100%; width: 100%; }

button, input, select, textarea { margin: 0; background-color: transparent; border-style: none; color: inherit; font-size: 14px; }
[data-dpr="2"] button, [data-dpr="2"] input, [data-dpr="2"] select, [data-dpr="2"] textarea { font-size: 28px; }
[data-dpr="3"] button, [data-dpr="3"] input, [data-dpr="3"] select, [data-dpr="3"] textarea { font-size: 42px; }

label { font-size: 16px; }
[data-dpr="2"] label { font-size: 32px; }
[data-dpr="3"] label { font-size: 48px; }

section { padding: .6rem 10%; background: #fafafa; }

section:nth-child(even) { background: #f0f0f0; }

h1, h2 { line-height: 1.3; }

h1 { font-size: 16px; margin: 0 0 0.16rem; }
[data-dpr="2"] h1 { font-size: 32px; }
[data-dpr="3"] h1 { font-size: 48px; }

h2 { font-size: 15px; margin: 0.1rem 0 0.2rem; }
[data-dpr="2"] h2 { font-size: 30px; }
[data-dpr="3"] h2 { font-size: 45px; }

p { font-size: 16px; margin: 0.02667rem 0; }
[data-dpr="2"] p { font-size: 32px; }
[data-dpr="3"] p { font-size: 48px; }

a { text-decoration: none; color: inherit; }
