@charset "utf-8";
@import "util";
@import "compass/utilities/sprites";

// 生成图片精灵
@function creatSprite($globImgPath, $spacing: 10px) {
  @return sprite-map($globImgPath, $spacing: $spacing, $layout: vertical);
}

@mixin icon($name, $sprites, $isRem: false) {
  $iconPath: sprite-file($sprites, $name); // 图标文件的路径
  $iconWidth: image-width($iconPath);
  $iconHeight: image-height($iconPath);
  $iconPosXInSprite: 0; // 垂直放的
  $iconPosYInSprite: nth(sprite-position($sprites, $name), 2);
  background-repeat: no-repeat;
  background-image: sprite-url($sprites);
  @if $isRem {
    width: pxToRem($iconWidth);
    height: pxToRem($iconHeight);
    $spriteWidth: sprite-width($sprites);
    $spriteHeight: sprite-height($sprites);
    @if $iconPosYInSprite != 0 {
      $iconPosYInSprite: $iconPosYInSprite / ($iconHeight - $spriteHeight) * 100%;
    }
    background-position: $iconPosXInSprite $iconPosYInSprite;
    background-size: pxToRem($spriteWidth) pxToRem($spriteHeight);
  } @else {
    width: $iconWidth;
    height: $iconWidth;
    background-position: $iconPosXInSprite $iconPosYInSprite;
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
  $sprites: creatSprite('icon/*.png'); // 将icons下所有png图片生成图片精灵。
  // 响应式图标
  &-add {
    @include icon('add', $sprites, true);
  }
  &-birthday {
    @include icon('birthday', $sprites, true);
  }
  &-calendar {
    @include icon('calendar', $sprites, true);
  }
  &-camera {
    @include icon('camera', $sprites, true);
  }
  &-check {
    @include icon('check', $sprites, true);
  }
  &-close {
    @include icon('close', $sprites, true);
  }
  &-droplet {
    @include icon('droplet', $sprites, true);
  }
  &-ellipses {
    @include icon('ellipses', $sprites, true);
  }
  &-email {
    @include icon('email', $sprites, true);
  }
  &-food {
    @include icon('food', $sprites, true);
  }
  &-lists {
    @include icon('lists', $sprites, true);
  }
  &-location {
    @include icon('location', $sprites, true);
  }
  &-location-pin {
    @include icon('location-pin', $sprites, true);
  }
  &-menu {
    @include icon('menu', $sprites, true);
  }
  &-mouse {
    @include icon('mouse', $sprites, true);
  }
  &-overview {
    @include icon('overview', $sprites, true);
  }
  &-password {
    @include icon('password', $sprites, true);
  }
  &-people {
    @include icon('people', $sprites, true);
  }
  &-phone {
    @include icon('phone', $sprites, true);
  }
  &-profile {
    @include icon('profile', $sprites, true);
  }
  &-search {
    @include icon('search', $sprites, true);
  }
  &-time {
    @include icon('time', $sprites, true);
  }
  &-timeline {
    @include icon('timeline', $sprites, true);
  }
  &-twitter {
    @include icon('twitter', $sprites, true);
  }
  &-weather {
    @include icon('weather', $sprites, true);
  }
}

