@charset "utf-8";
@import "compass/utilities/sprites";

// 生成图片精灵
@function creatSprite($globImgPath, $spacing: 10px) {
  @return sprite-map($globImgPath, $spacing: $spacing, $layout: vertical);
}

@mixin icon($name, $sprites, $isRem: false) {
  $iconPath: sprite-file($sprites, $name); // 图标文件的路径
  $iconWidth: image-width($iconPath);
  $iconHeight: image-height($iconPath);
  $iconPosXInSprite: 0; // 垂直放的
  $iconPosYInSprite: nth(sprite-position($sprites, $name), 2);
  background-repeat: no-repeat;
  background-image: sprite-url($sprites);
  @if $isRem {
    width: pxToRem($iconWidth);
    height: pxToRem($iconHeight);
    $spriteWidth: sprite-width($sprites);
    $spriteHeight: sprite-height($sprites);
    @if $iconPosYInSprite != 0 {
      $iconPosYInSprite: $iconPosYInSprite / ($iconHeight - $spriteHeight) * 100%;
    }
    background-position: $iconPosXInSprite $iconPosYInSprite;
    background-size: pxToRem($spriteWidth) pxToRem($spriteHeight);
  } @else {
    width: $iconWidth;
    height: $iconWidth;
    background-position: $iconPosXInSprite $iconPosYInSprite;
  }
}

.icon {
  display: inline-block;
  $sprites: creatSprite('icon/*.png'); // 将icons下所有png图片生成图片精灵。
  &-profile { // 响应式图标
    @include icon('profile', $sprites, true);
  }
  &-password {
    @include icon('password', $sprites, true);
  }
  &-email {
    @include icon('email', $sprites, true);
  }
  &-birthday {
    @include icon('birthday', $sprites, true);
  }
  &-close {
    @include icon('close', $sprites, true);
  }
  &-camera {
    @include icon('camera', $sprites, true);
  }
}
